# Producers and Consumers - .gitignore
# Copyright 2014, Kevin Petersen. All rights reserved

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Studio
Debug
ipch
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.*